@page
@model HRApplication.Pages.Applications.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Application</h4>
    <hr />
    <h4>Application Info</h4>
    <dl class="dl-horizontal">   
        <dt>
            @Html.DisplayNameFor(model => model.Position.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Position.Location)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Position.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Position.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Position.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Position.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Application.ResumePath)
        </dt>
        <dd>
            <form asp-controller="Download" asp-action="Download" asp-route-id="@Model.Application.ResumePath">
                <input type="submit" value="Download" class="btn btn-default" />
            </form>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Application.CoverLetterPath)
        </dt>
        <dd>
            <form asp-controller="Download" asp-action="Download" asp-route-id="@Model.Application.CoverLetterPath">
                <input type="submit" value="Download" class="btn btn-default" />
            </form>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Application.Experience)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Application.Experience)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Application.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Application.Status)
        </dd>
    </dl>
    <hr />
    @if (User.IsInRole("HR") || User.IsInRole("Manager"))
    {
    <h4>Applicant Info</h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Profile.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Profile.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Profile.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Profile.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Profile.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Profile.Phone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Profile.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Profile.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Profile.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Profile.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Profile.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Profile.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Profile.State)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Profile.State)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Profile.Zip)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Profile.Zip)
        </dd>
    </dl>
    }
</div>
<div class="btn-group">
    <a class="btn" asp-page="./Edit" asp-route-id="@Model.Application.ID">Edit</a> |
    <a class="btn" asp-page="./Index">Back to List</a>
</div>
