@page
@model HRApplication.Pages.Applications.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Application</h4>
<hr />
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Position.Location)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Position.Location)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Position.Title)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Position.Title)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Position.Description)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Position.Description)
    </dd>
</dl>
<hr />

<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Application.ResumePath" class="control-label"></label>
                <input type="file" name="resume" class="form-control" />
                <span asp-validation-for="Application.ResumePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Application.CoverLetterPath" class="control-label"></label>
                <input type="file" name="coverLetter" class="form-control" />
                <span asp-validation-for="Application.CoverLetterPath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Application.Experience" class="control-label"></label>
                <input asp-for="Application.Experience" class="form-control" />
                <span asp-validation-for="Application.Experience" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-primary" asp-page="/Applications/MyApplications">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
