@page
@model HRApplication.Pages.Applications.MyApplicationsModel

@{
    ViewData["Title"] = "MyApplications";
}

<h2>MyApplications</h2>

<p>
    <a asp-page="/Positions">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Position[0].Location)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Position[0].Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Position[0].Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Application[0].ResumePath)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Application[0].CoverLetterPath)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Application[0].Experience)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Application[0].Status)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@for (int i = 0; i < Model.Application.Count; i++){
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.Position[i].Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Position[i].Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Position[i].Description)
            </td>
            <td>
                <form asp-controller="Download" asp-action="Download" asp-route-id="@Model.Application[i].ResumePath">
                    <input type="submit" value="Download" class="btn btn-default" />
                </form>
            </td>
            <td>
                <form asp-controller="Download" asp-action="Download" asp-route-id="@Model.Application[i].CoverLetterPath">
                    <input type="submit" value="Download" class="btn btn-default" />
                </form>
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Application[i].Experience)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Application[i].Status)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@Model.Application[i].ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@Model.Application[i].ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@Model.Application[i].ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
